result
/.direnv

/build
/.em-cache

*.wasm
*.wasm.br
*.wasm.zst
*.wasm.gz
/engines/go/wasm_exec.js
/engines/pcre/compile_commands.json
/engines/pcre/engine.mjs
/engines/rust/re_cmp_engine_rust*
/engines/rust/target
